In [1]:
import os
import pandas as pd

In [7]:
os.listdir('../data')

['RDC_Inventory_Core_Metrics_Zip.csv',
 'RDC_Inventory_Hotness_Metrics_Zip_History.csv']

In [32]:
df_1 = pd.read_csv('../data/RDC_Inventory_Core_Metrics_Zip.csv', skipfooter=1)
df_2 = pd.read_csv('../data/RDC_Inventory_Hotness_Metrics_Zip_History.csv', skipfooter=1)

<ipython-input-32-4781fe0fff3b>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_1 = pd.read_csv('../data/RDC_Inventory_Core_Metrics_Zip.csv', skipfooter=1)
<ipython-input-32-4781fe0fff3b>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_2 = pd.read_csv('../data/RDC_Inventory_Hotness_Metrics_Zip_History.csv', skipfooter=1)

In [9]:
df_1.head()

,month_date_yyyymm,postal_code,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202112,76357,167500.0,0.0000,NaN,3.0,0.0000,NaN,90.5,0.448000,...,1.805958e+05,-0.0280,NaN,3.0,-0.2500,NaN,0.000000,-0.3333,NaN,0.0
1,202112,2557,1206500.0,-0.0712,0.2907,28.0,-0.1250,-0.3488,65.0,0.040000,...,1.474598e+06,-0.1371,0.3268,45.0,-0.1509,-0.3750,0.607143,-0.0491,-0.0673,0.0
2,202112,89142,314950.0,0.0498,0.3696,42.0,-0.2364,-0.3115,36.5,0.431373,...,3.109181e+05,0.0365,0.3839,42.0,-0.2364,-0.3115,NaN,NaN,NaN,1.0
3,202112,48025,559950.0,-0.0036,0.0525,22.0,-0.4211,-0.4054,32.0,0.103448,...,6.677210e+05,-0.0443,0.0457,25.0,-0.4565,-0.4186,0.136364,-0.0742,-0.0258,0.0
4,202112,29916,339500.0,0.0000,-0.8642,0.0,-1.0000,-1.0000,115.0,0.179487,...,3.395000e+05,0.0000,-0.8138,2.0,-0.3333,-0.5000,NaN,NaN,NaN,1.0

In [10]:
df_2.head()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202112,24018,"roanoke, va",1498.0,7952.0,356.0,-178.0,40.798423,26.874324,54.722523,...,12.0,34.5,0.000133,0.312092,1.1415,422975.0,0.092394,0.135656,1.1279,0.0
1,202112,31401,"savannah, ga",4689.0,6860.0,1177.0,3425.0,46.660999,37.961818,55.360179,...,-29.5,18.0,-0.017556,0.927558,1.1529,724000.0,-0.027535,0.455276,1.9307,1.0
2,202112,85053,"phoenix, az",3586.0,3053.0,522.0,-2693.0,66.210002,81.577524,50.842480,...,4.0,-16.0,-0.105622,-0.503548,1.0736,404450.0,0.012517,0.283968,1.0785,0.0
3,202112,33971,"lehigh acres, fl",6436.0,6008.0,-315.0,-55.0,50.757459,82.941722,18.573195,...,-13.0,-17.0,-0.293970,-0.209031,0.5749,316986.0,-0.001263,0.243570,0.8453,0.0
4,202112,80547,"timnath, co",19063.0,10450.0,-1059.0,-195.0,24.205828,46.630082,1.781574,...,-9.0,9.0,-0.417848,-0.136860,0.2100,648337.0,-0.103467,0.203901,1.7289,0.0

In [33]:
df_2.tail()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
579145,201708,40059,"prospect, ky",6924,4999,NaN,NaN,59.449669,50.268945,68.630393,...,NaN,6.5,NaN,NaN,1.3824,538250.0,NaN,NaN,1.9292,0
579146,201708,72455,"pocahontas, ar",8349,10278,NaN,NaN,23.345164,45.581617,1.108712,...,NaN,11.5,NaN,NaN,0.1917,94000.0,NaN,NaN,0.3369,0
579147,201708,75035,"frisco, tx",640,3710,NaN,NaN,66.925244,79.677266,54.173223,...,NaN,-21.5,NaN,NaN,1.0793,440581.0,NaN,NaN,1.5791,0
579148,201708,18801,"montrose, pa",10886,10184,NaN,NaN,24.152000,27.136009,21.167990,...,NaN,37.0,NaN,NaN,0.5714,181250.0,NaN,NaN,0.6496,0
579149,201708,33042,"summerland key, fl",10838,10119,NaN,NaN,24.722822,9.919865,39.525778,...,NaN,96.0,NaN,NaN,0.8382,734000.0,NaN,NaN,2.6308,0

In [20]:
df_2.shape[0]/10000

57.9151

In [22]:
868.7265/60

14.478775

In [25]:
df_1.to_csv('../dbt/data/RDC_Inventory_Core_Metrics_Zip.csv', index = False)
df_2.to_csv('../dbt/data/RDC_Inventory_Hotness_Metrics_Zip_History.csv', index = False)

In [26]:
df_1.columns

Index(['month_date_yyyymm', 'postal_code', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy',
       'active_listing_count', 'active_listing_count_mm',
       'active_listing_count_yy', 'median_days_on_market',
       'median_days_on_market_mm', 'median_days_on_market_yy',
       'new_listing_count', 'new_listing_count_mm', 'new_listing_count_yy',
       'price_increased_count', 'price_increased_count_mm',
       'price_increased_count_yy', 'price_reduced_count',
       'price_reduced_count_mm', 'price_reduced_count_yy',
       'pending_listing_count', 'pending_listing_count_mm',
       'pending_listing_count_yy', 'median_listing_price_per_square_foot',
       'median_listing_price_per_square_foot_mm',
       'median_listing_price_per_square_foot_yy', 'median_square_feet',
       'median_square_feet_mm', 'median_square_feet_yy',
       'average_listing_price', 'average_listing_price_mm',
       'average_listing_price_yy', 'total_listing_count',
       'total_listing_count_mm', 'total_listing_count_yy', 'pending_ratio',
       'pending_ratio_mm', 'pending_ratio_yy', 'quality_flag'],
      dtype='object')

In [27]:
df_2.columns

Index(['month_date_yyyymm', 'postal_code', 'zip_name', 'nielsen_hh_rank',
       'hotness_rank', 'hotness_rank_mm', 'hotness_rank_yy', 'hotness_score',
       'supply_score', 'demand_score', 'median_days_on_market',
       'median_days_on_market_mm', 'median_dom_mm_day',
       'median_days_on_market_yy', 'median_dom_yy_day', 'median_dom_vs_us',
       'ldp_unique_viewers_per_property_mm',
       'ldp_unique_viewers_per_property_yy',
       'ldp_unique_viewers_per_property_vs_us', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy',
       'median_listing_price_vs_us', 'quality_flag'],
      dtype='object')

In [ ]:
'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy'

In [28]:
set(df_1.columns.tolist()).intersection(set(df_2.columns.tolist()))

{'median_days_on_market',
 'median_days_on_market_mm',
 'median_days_on_market_yy',
 'median_listing_price',
 'median_listing_price_mm',
 'median_listing_price_yy',
 'month_date_yyyymm',
 'postal_code',
 'quality_flag'}